@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Suez+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
}

img {
  max-width: 100%;
}

.logo img {
  width: 40px;
}

.nav-menu li {
  cursor: pointer;
}

.lists li {
  width: 370px;
  padding: 1.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 4px 5px 5px 0 rgba(44, 44, 44, 0.644);
}

.comments li {
  display: flex;
  gap: 1em;
}

.nav-menu li:hover {
  color: #f4ce15;
}

.menuDescription img {
  border-radius: 20px;
}

.lists li img {
  width: 100%;
  border-radius: 10px;
}

header {
  background-color: black;
  color: white;
  position: relative;
}

.heading h1 {
  font-family: 'Suez One', serif;
  display: flex;
  flex-direction: column;
  font-size: 6em;
}

.heading {
  position: absolute;
  z-index: 1;
  top: 20%;
  color: white;
  right: 20%;
}

.button {
  font-size: 2em;
  border-radius: 20px;
  margin-top: 1.5em;
}

ul.nav-menu {
  display: flex;
  gap: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 10%;
  padding-bottom: 0;
  border-bottom: 2px solid #f4ce15;
}

.buttondesc,
button {
  padding: 0.25em 0.5em;
  box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.75);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  border: none;
  background-color: #f4ce15;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
}

.buttondesc:hover,
button:hover {
  background-color: white;
}

a.buttondesc {
  color: black;
  text-decoration: none;
}

.menu-name {
  font-weight: 500;
}

.button-con {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.lists {
  margin-top: 1em;
  -moz-box-shadow: 11px 15px 18px -3px rgba(140, 135, 140, 0.8);
  -webkit-box-shadow: 11px 15px 18px -3px rgba(140, 135, 140, 0.8);
  -ms-box-shadow: 11px 15px 18px -3px rgba(140, 135, 140, 0.8);
  box-shadow: 11px 15px 18px -3px rgba(140, 135, 140, 0.8);
  display: flex;
  flex-wrap: wrap;
  padding: 2em 10%;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.list-name {
  font-weight: bolder;
}

.name-con {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

footer {
  background-color: black;
  color: white;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: black;
}

.txt {
  padding-top: 30px;
  color: white;
}

.fa-heart {
  color: red;
  font-size: 1.25em;
  cursor: pointer;
}

.modal {
  height: 100%;
  width: 100%;
  padding: 2em 3em;
  background-color: rgba(0, 0, 0, 0.683);
  backdrop-filter: blur(0.1rem);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  display: none;
}

.desc-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.5em;
  row-gap: 1em;
  margin-top: 1.5em;
}

.desc-con span {
  font-size: 1.25em;
  font-weight: 500;
}

.modal-container {
  width: 100%;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 20px;
}

.fa-xmark {
  position: absolute;
  font-size: 2em;
  font-weight: 700;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.menuName {
  margin-top: 0.5em;
}

.ing-con {
  margin-top: 1em;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  list-style: disc;
  margin-top: 0.75em;
  gap: 1em;
  font-style: italic;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 1.5em;
}

.comments {
  list-style: none;
  margin-top: 0.5em;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.form h3 {
  margin-bottom: 0.5em;
}

.nameInput {
  font-weight: 400;
  font-size: 15px;
  padding: 15px 16px;
  border: none;
  border-bottom: 1px solid gray;
  width: 70%;
}

#messageInput {
  padding: 12px;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  width: 70%;
  height: 114px;
  background-color: rgba(179, 177, 177, 0.418);
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
}
